<?xml version="1.0" encoding="utf-8"?>
<configuration>
 



<connectionStrings><add name="ERS_LMTEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Saad-PC\SQLEXPRESS;Initial Catalog=ERS_LMT;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>